<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PPP - Oficial</title>
    <link rel="stylesheet" href="/static/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/hero-slider-style.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">



</head>

<body>

    <!-- Content -->
    <div class="cd-hero">

        <!-- Navigation -->
        <div class="cd-slider-nav">
            <nav class="navbar">
                <div class="tm-navbar-bg">

                    <a class="navbar-brand text-uppercase" href="#"><i class="fa fa-flash tm-brand-icon"></i>PPN</a>

                    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse"
                        data-target="#tmNavbar">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-md text-xs-center text-uppercase tm-navbar" id="tmNavbar">
                        <ul class="nav navbar-nav">
                            <li class="nav-item active selected">
                                <a class="nav-link" href="/" >Inico<span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('prediccion') }}">Predecir</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('graficas') }}">Graficas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('informacion') }}">Información</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>

        <ul class="cd-hero-slider">

            <!-- Page 1 Home -->
            <li class="selected">
                <div class="cd-full-width">
                    <div class="container-fluid js-tm-page-content tm-page-width" data-page-no="1">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tm-flex">
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding tm-white-box-margin-b">
                                        <h2 class="tm-text-title">Predicción Pluviométrico Nacional</h2>
                                        <p class="tm-text">(PPN) es una plataforma gubernamental diseñada para brindar
                                            información sobre las condiciones de precipitación en todo el país. Este
                                            servicio tiene como objetivo ayudar a la población, los agricultores, las
                                            autoridades locales y otros sectores a tomar decisiones informadas basadas
                                            en las predicciones meteorológicas más recientes.</p>
                                    </div>
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding tm-white-box-margin-b">
                                        <img src="/static/images/tm-img-10.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tm-flex">
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding tm-white-box-margin-b">
                                        <h2 class="tm-text-title">¿Qué es la Precipitación?</h2>
                                        <p class="tm-text">La precipitación es cualquier agua líquida o congelada que se
                                            forma en la atmósfera y vuelve a caer a la tierra. Se presenta en muchas
                                            formas, como lluvia, aguanieve y nieve. Junto con la evaporación y la
                                            condensación, la precipitación es una de las tres partes principales del
                                            ciclo global del agua.</p>
                                        <p class="tm-text">La precipitación se forma en las nubes cuando el vapor de
                                            agua se condensa en gotas de agua cada vez más grandes. Cuando las gotas son
                                            lo suficientemente pesadas, caen a la tierra. Si una nube es más fría, como
                                            lo sería en altitudes más altas, las gotas de agua pueden congelarse para
                                            formar hielo.</p>
                                        <p class="tm-text">Estos cristales de hielo caen a la tierra en forma de nieve,
                                            granizo o lluvia, dependiendo de la temperatura dentro de la nube y en la
                                            superficie de la Tierra. La mayor parte de la lluvia en realidad comienza
                                            como nieve en lo alto de las nubes. A medida que los copos de nieve caen a
                                            través del aire más cálido, se convierten en gotas de lluvia.</p>
                                    </div>
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding tm-white-box-margin-b">
                                        <img src="/static/images/natural-umbrella.jpg" alt="">
                                        <p></p>
                                        <p class="tm-text">Las partículas de polvo o humo en la atmósfera son esenciales
                                            para la precipitación. Estas partículas, llamadas "núcleos de condensación",
                                            proporcionan una superficie para que el vapor de agua se condense. Esto
                                            ayuda a que las gotas de agua se junten y se vuelvan lo suficientemente
                                            grandes como para caer a la tierra.</p>
                                        <p class="tm-text">La precipitación es siempre agua dulce, incluso cuando el
                                            agua se originó en el océano.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tm-flex">
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                                        <h2 class="tm-text-title">Lluvia</h2>
                                        <img src="/static/images/flamingos-in-the-rain.jpg" alt="">
                                        <p></p>
                                        <p class="tm-text">La lluvia es una precipitación que cae a la superficie de la
                                            Tierra en forma de gotas de agua. Las gotas de lluvia se forman alrededor de
                                            núcleos microscópicos de condensación de nubes, como una partícula de polvo
                                            o una molécula de contaminación.</p>
                                        <p class="tm-text">La lluvia que cae de las nubes pero se congela antes de
                                            llegar al suelo se llama aguanieve o gránulos de hielo.</p>
                                        <p class="tm-text">A pesar de que las imágenes de dibujos animados de gotas de
                                            lluvia parecen lágrimas, las gotas de lluvia reales son en realidad
                                            esféricas.</p>
                                    </div>
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                                        <h2 class="tm-text-title">Granizo</h2>
                                        <img src="/static/images/hail.jpg" alt="">
                                        <p></p>
                                        <p class="tm-text">El granizo se forma en las nubes frías de tormenta. Se forma
                                            cuando las gotas de agua muy fría se congelan, o se vuelven sólidas, tan
                                            pronto como tocan cosas como el polvo o la suciedad. La tormenta sopla el
                                            granizo en la parte superior de la nube. Se agregan más gotas de agua
                                            congelada al granizo antes de que caiga.</p>
                                        <p class="tm-text">A diferencia del aguanieve, que es líquido cuando se forma y
                                            se congela cuando cae a la Tierra, el granizo cae como una piedra de hielo
                                            sólido. Las piedras de granizo suelen ser del tamaño de rocas pequeñas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tm-flex">
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                                        <h2 class="tm-text-title">Nieve</h2>
                                        <img src="/static/images/snow-in-jubilee-gardens.jpg" alt="">
                                        <p></p>
                                        <p class="tm-text">La nieve es una precipitación que cae en forma de cristales
                                            de hielo. El granizo también es hielo, pero el granizo es solo colecciones
                                            de gotas de agua congeladas. La nieve tiene una estructura compleja. Los
                                            cristales de hielo se forman individualmente en las nubes, pero cuando caen,
                                            se pegan en grupos de copos de nieve.</p>
                                        <p class="tm-text">Las nevadas ocurren cuando muchos copos de nieve individuales
                                            caen de las nubes. A diferencia de una tormenta de granizo, las nevadas
                                            suelen ser tranquilas. El granizo es duro, mientras que los copos de nieve
                                            son blandos.</p>
                                        <p class="tm-text">Los copos de nieve desarrollan diferentes patrones,
                                            dependiendo de la temperatura y la humedad del aire. Cuando la nieve cae en
                                            forma de bola en lugar de copos blandos, se llama graupel.</p>
                                    </div>
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-2-col-textbox-2 tm-textbox-padding">
                                        <h2 class="tm-text-title">Otros tipos de precipitación</h2>
                                        <img src="/static/images/hail-storm.jpg" alt="">
                                        <p></p>
                                        <p class="tm-text">A veces, diferentes tipos de precipitación caen al mismo
                                            tiempo. Durante las fuertes tormentas invernales, por ejemplo, no es inusual
                                            que caiga aguanieve y lluvia al mismo tiempo.</p>
                                        <p class="tm-text">Otras veces, las precipitaciones no caen en absoluto. La
                                            virga es un tipo de precipitación que comienza a caer de una nube, pero se
                                            evapora antes de llegar a la superficie de la Tierra.</p>
                                        <p class="tm-text">El calentamiento global también provoca cambios en las
                                            precipitaciones globales. Cuando el planeta está más caliente, más hielo se
                                            evapora en la atmósfera. Eso eventualmente conduce a más precipitaciones
                                            lluviosas. Por lo general, significa un clima más húmedo en partes de
                                            América del Norte, por ejemplo, y condiciones más secas en áreas tropicales
                                            que generalmente son húmedas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul> 

        <footer class="tm-footer">

            <div class="tm-social-icons-container text-xs-center">
                <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-instagram"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
            </div>

            <p class="tm-copyright-text">Proyecto por Juan C. Calderon & Monica Plata R.</p>

        </footer>

    </div> <!-- .cd-hero -->


    <!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
    <div id="loader-wrapper">

        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <!-- load JS files -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>

    <script>

        function adjustHeightOfPage(pageNo) {

            var offset = 80;
            var pageContentHeight = 0;

            var pageType = $('div[data-page-no="' + pageNo + '"]').data("page-type");

            if (pageType != undefined && pageType == "gallery") {
                pageContentHeight = $(".cd-hero-slider li:nth-of-type(" + pageNo + ") .tm-img-gallery-container").height();
            }
            else {
                pageContentHeight = $(".cd-hero-slider li:nth-of-type(" + pageNo + ") .js-tm-page-content").height();
            }

            if ($(window).width() >= 992) { offset = 120; }
            else if ($(window).width() < 480) { offset = 40; }

            // Get the page height
            var totalPageHeight = 15 + $('.cd-slider-nav').height()
                + pageContentHeight + offset
                + $('.tm-footer').height();

            // Adjust layout based on page height and window height
            if (totalPageHeight > $(window).height()) {
                $('.cd-hero-slider').addClass('small-screen');
                $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", totalPageHeight + "px");
            }
            else {
                $('.cd-hero-slider').removeClass('small-screen');
                $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", "100%");
            }
        }

        /*
            Everything is loaded including images.
        */
        $(window).load(function () {

            adjustHeightOfPage(1); // Adjust page height

            /* Gallery One pop up
            -----------------------------------------*/
            $('.gallery-one').magnificPopup({
                delegate: 'a', // child items selector, by clicking on it popup will open
                type: 'image',
                gallery: { enabled: true }
            });

            /* Gallery Two pop up
            -----------------------------------------*/
            $('.gallery-two').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: { enabled: true }
            });

            /* Gallery Three pop up
            -----------------------------------------*/
            $('.gallery-three').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: { enabled: true }
            });

            /* Collapse menu after click 
            -----------------------------------------*/
            $('#tmNavbar a').click(function () {
                $('#tmNavbar').collapse('hide');

                adjustHeightOfPage($(this).data("no")); // Adjust page height       
            });

            /* Browser resized 
            -----------------------------------------*/
            $(window).resize(function () {
                var currentPageNo = $(".cd-hero-slider li.selected .js-tm-page-content").data("page-no");

                // wait 3 seconds
                setTimeout(function () {
                    adjustHeightOfPage(currentPageNo);
                }, 1000);

            });

            // Remove preloader (https://ihatetomatoes.net/create-custom-preloading-screen/)
            $('body').addClass('loaded');

        });

        // Restaurar la posición de desplazamiento después de cargar la página
        window.addEventListener("load", function() {
            // Obtener la posición de desplazamiento de localStorage
            const scrollPosition = localStorage.getItem("scrollPosition");

            // Si hay una posición de desplazamiento guardada, desplázate a esa posición
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition, 10));
            }
        });

    </script>

</body>

</html>