<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PPP - Oficial</title>
    <link rel="stylesheet" href="/static/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/hero-slider-style.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">



</head>

<body>

    <!-- Content -->
    <div class="cd-hero">

        <!-- Navigation -->
        <div class="cd-slider-nav">
            <nav class="navbar">
                <div class="tm-navbar-bg">

                    <a class="navbar-brand text-uppercase" href="#"><i class="fa fa-flash tm-brand-icon"></i>PPN</a>

                    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse"
                        data-target="#tmNavbar">
                        &#9776;
                    </button>
                    <div class="collapse navbar-toggleable-md text-xs-center text-uppercase tm-navbar" id="tmNavbar">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Inico<span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('prediccion') }}">Predecir</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('graficas') }}" >Graficas</a>
                            </li>
                            <li class="nav-item active selected">
                                <a class="nav-link" href="{{ url_for('informacion') }}">Información</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>

        <ul class="cd-hero-slider">
            <!-- Page 5 About -->
            <li class="selected">
                <div class="cd-full-width">
                    <div class="container-fluid js-tm-page-content tm-page-width" data-page-no="1">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tm-flex">
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding tm-white-box-margin-b">
                                        <h2 class="tm-text-title">Interpretación de los datos recolectados</h2>
                                        <p class="tm-text">En nuestra página, recopilamos datos de precipitación de 1971
                                            a 2000 proporcionados por la IDEAM. Realizamos un breve análisis de estos
                                            datos para identificar patrones climáticos a lo largo de estas tres décadas.
                                            Esta información es crucial para comprender mejor las tendencias climáticas.
                                        </p>
                                    </div>
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding tm-white-box-margin-b">
                                        <img src="/static/images/tm-img-12.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tm-flex">
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding tm-white-box-margin-b">
                                        <h2 class="tm-text-title">Patrones de Precipitación y Fenómenos Climáticos en
                                            Colombia</h2>
                                        <p class="tm-text">Colombia se destaca como uno de los países con mayores
                                            índices de precipitación en el mundo, siendo el departamento de Chocó uno de
                                            los lugares más destacados en este sentido. Además de Chocó, otros
                                            departamentos en la región andina y del Caribe también experimentan niveles
                                            significativos de lluvia.</p>
                                        <p class="tm-text">En la región ecuatorial del Pacífico tropical, se presentan
                                            dos fenómenos climatológicos conocidos como El Niño y La Niña. Estos
                                            fenómenos tienen un papel crucial en la diversidad climática del Pacífico,
                                            impactando las condiciones atmosféricas y generando cambios significativos
                                            en el clima de la región.</p>
                                        <p class="tm-text">El fenómeno del Niño es un evento en el cual las aguas del
                                            océano Pacífico se calientan, lo que provoca cambios significativos en
                                            algunas regiones cercanas. Por otro lado, el fenómeno de La Niña se
                                            caracteriza por un aumento en la cantidad de precipitaciones y una
                                            disminución en la temperatura.</p>
                                        <img src="/static/images/graficas/Choco_2023-11-14-16-24-21.png" alt="">
                                        <p class="tm-text"></p>
                                        <p class="tm-text">El gráfico anterior muestra los datos de precipitación para
                                            el departamento del Chocó, el cual registra la mayor cantidad de
                                            precipitación. En el año 2000, este departamento alcanzó un promedio anual
                                            de 6444 mm y, mensualmente, un promedio de 537 mm. Sin embargo, para el
                                            siguiente año, esta cifra disminuyó a 6213 mm, con un promedio mensual de
                                            517 mm.</p>
                                        <p class="tm-text">Los datos recopilados por el IDEAM desde 1971 hasta 2000
                                            revelan una tendencia a la baja en las cifras de precipitación. Esto se
                                            atribuye al uso de una ecuación polinómica de alto grado, lo que hace que la
                                            predicción sea más sensible a las variaciones en los datos.</p>
                                    </div>
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding tm-white-box-margin-b">
                                        <p class="tm-text">Esta sensibilidad puede explicar la disminución pronosticada
                                            y sugiere que pequeños cambios en los datos pueden afectar considerablemente
                                            la predicción.</p>
                                        <img src="/static/images/graficas/Mayor_mes.png" alt="">
                                        <p></p>
                                        <p class="tm-text">El gráfico anterior destaca los registros más elevados de
                                            precipitación en el país, resaltando dos cifras significativas
                                            correspondientes a los meses de diciembre y septiembre. El municipio con la
                                            mayor precipitación se localiza en el departamento del Cauca,
                                            específicamente en el municipio de López, en el área conocida como Concha
                                            La.En el mes de diciembre, se registró la más alta precipitación, alcanzando
                                            los 2223 mm. De manera similar, en septiembre, se observó una precipitación
                                            de 2048 mm. Ambas cifras representan los niveles más altos registrados en
                                            esta región.</p>
                                        <p class="tm-text">Los altos niveles de precipitación presentan una serie de
                                            desafíos, siendo las inundaciones el problema más significativo. Este
                                            fenómeno conlleva a la pérdida de bienes y hogares, afectando a numerosas
                                            familias y comunidades. Además de las pérdidas materiales, las inundaciones
                                            pueden tener un impacto devastador en la infraestructura local, la
                                            agricultura y la salud pública, desencadenando situaciones de emergencia que
                                            requieren respuestas inmediatas y estratégicas por parte de las autoridades.
                                        </p>
                                        <p class="tm-text">Las proyecciones para el próximo mes en el departamento del
                                            Cauca estiman un mínimo de 274 mm de precipitación. Esta expectativa se
                                            fundamenta en el hecho de que solo dos municipios superan la media
                                            establecida, que se sitúa en 167 mm. Estos municipios, Concha La y Puerto
                                            López, destacan por tener los registros más altos de lluvia anual en la
                                            región, aunque esto no necesariamente indica que el departamento sea el
                                            líder absoluto en precipitaciones a nivel nacional. Más bien resalta la
                                            particularidad de albergar los dos municipios con los mayores registros
                                            pluviométricos anuales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tm-flex">
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding tm-white-box-margin-b">
                                        <h2 class="tm-text-title">Pronóstico de lluvias por departamento: Impacto
                                            regional y desafíos climáticos</h2>
                                        <img src="/static/images/graficas/Vichada_2023_lluvia.png" alt="">
                                        <p class="tm-text"></p>
                                        <p class="tm-text">De acuerdo con las proyecciones sobre la cantidad de días de
                                            lluvia por departamento para el próximo mes, se anticipa que Vichada
                                            liderará con 23 días de lluvia. Le siguen San Andrés y Providencia, así como
                                            Caldas, ambos con 22 días de pronóstico lluvioso. Por su parte, Guaviare y
                                            Boyacá se prevé que registren 21 días de lluvia.Estos pronósticos pueden
                                            indicar patrones climáticos regionales destacados. Vichada, por ejemplo,
                                            podría experimentar un período particularmente húmedo en el próximo mes, lo
                                            cual podría influir en diversos aspectos, desde la agricultura hasta la
                                            gestión de recursos hídricos en la región.</p>
                                        <p class="tm-text">Por otro lado, tanto San Andrés y Providencia como Caldas
                                            muestran pronósticos similares de precipitaciones. Estas condiciones
                                            climáticas pueden plantear desafíos, especialmente en el contexto del
                                            turismo, particularmente para San Andrés y Providencia.</p>
                                    </div>
                                    <div
                                        class="tm-bg-white-translucent text-xs-left tm-textbox tm-textbox-padding tm-white-box-margin-b">
                                        <p class="tm-text">Siendo islas, estas regiones podrían enfrentar complicaciones
                                            debido al aumento del nivel del mar y la posible influencia de vientos
                                            huracanados provenientes del Océano Atlántico. Estos fenómenos pueden
                                            dificultar el acceso a las islas, lo que a su vez podría impactar
                                            significativamente la economía local al reducir el flujo de turistas que
                                            usualmente visitan estas áreas.</p>
                                        <img src="/static/images/graficas/Grafica_lluvia.png" alt="">
                                        <p></p>
                                        <p class="tm-text">En la gráfica anterior se presentan los departamentos con la
                                            mayor cantidad de días de lluvia durante el período de 1971 al 2000. El
                                            departamento que registró la mayor cantidad de días de lluvia anual fue
                                            Putumayo, con un total de 228 días. Le sigue Chocó con 217 días, Amazonas
                                            con 209 días, Caquetá con 201 días y Risaralda con 197 días.Por otro lado,
                                            entre los departamentos con la menor cantidad de días de lluvia se
                                            encuentran La Guajira con 42 días, Atlántico con 66 días, Magdalena con 75
                                            días, Sucre con 84 días y Cesar con 90 días. Estos datos reflejan las
                                            variaciones climáticas regionales y la influencia de factores geográficos y
                                            atmosféricos en cada área.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>
                </div> <!-- .cd-full-width -->

            </li>
        </ul> <!-- .cd-hero-slider -->

        <footer class="tm-footer">

            <div class="tm-social-icons-container text-xs-center">
                <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-instagram"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
            </div>

            <p class="tm-copyright-text">Proyecto por Juan C. Calderon & Monica Plata R.</p>

        </footer>

    </div> <!-- .cd-hero -->


    <!-- Preloader, https://ihatetomatoes.net/create-custom-preloading-screen/ -->
    <div id="loader-wrapper">

        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <!-- load JS files -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>

    <script>

        function adjustHeightOfPage(pageNo) {

            var offset = 80;
            var pageContentHeight = 0;

            var pageType = $('div[data-page-no="' + pageNo + '"]').data("page-type");

            if (pageType != undefined && pageType == "gallery") {
                pageContentHeight = $(".cd-hero-slider li:nth-of-type(" + pageNo + ") .tm-img-gallery-container").height();
            }
            else {
                pageContentHeight = $(".cd-hero-slider li:nth-of-type(" + pageNo + ") .js-tm-page-content").height();
            }

            if ($(window).width() >= 992) { offset = 120; }
            else if ($(window).width() < 480) { offset = 40; }

            // Get the page height
            var totalPageHeight = 15 + $('.cd-slider-nav').height()
                + pageContentHeight + offset
                + $('.tm-footer').height();

            // Adjust layout based on page height and window height
            if (totalPageHeight > $(window).height()) {
                $('.cd-hero-slider').addClass('small-screen');
                $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", totalPageHeight + "px");
            }
            else {
                $('.cd-hero-slider').removeClass('small-screen');
                $('.cd-hero-slider li:nth-of-type(' + pageNo + ')').css("min-height", "100%");
            }
        }

        /*
            Everything is loaded including images.
        */
        $(window).load(function () {

            adjustHeightOfPage(1); // Adjust page height

            /* Gallery One pop up
            -----------------------------------------*/
            $('.gallery-one').magnificPopup({
                delegate: 'a', // child items selector, by clicking on it popup will open
                type: 'image',
                gallery: { enabled: true }
            });

            /* Gallery Two pop up
            -----------------------------------------*/
            $('.gallery-two').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: { enabled: true }
            });

            /* Gallery Three pop up
            -----------------------------------------*/
            $('.gallery-three').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: { enabled: true }
            });

            /* Collapse menu after click 
            -----------------------------------------*/
            $('#tmNavbar a').click(function () {
                $('#tmNavbar').collapse('hide');

                adjustHeightOfPage($(this).data("no")); // Adjust page height       
            });

            /* Browser resized 
            -----------------------------------------*/
            $(window).resize(function () {
                var currentPageNo = $(".cd-hero-slider li.selected .js-tm-page-content").data("page-no");

                // wait 3 seconds
                setTimeout(function () {
                    adjustHeightOfPage(currentPageNo);
                }, 1000);

            });

            // Remove preloader (https://ihatetomatoes.net/create-custom-preloading-screen/)
            $('body').addClass('loaded');

        });

        // Restaurar la posición de desplazamiento después de cargar la página
        window.addEventListener("load", function() {
            // Obtener la posición de desplazamiento de localStorage
            const scrollPosition = localStorage.getItem("scrollPosition");

            // Si hay una posición de desplazamiento guardada, desplázate a esa posición
            if (scrollPosition) {
                window.scrollTo(0, parseInt(scrollPosition, 10));
            }
        });

    </script>

</body>

</html>